@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  --line-border-fill: #66cdaa;
  --line-border-empty: #dbd5df;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #fbfdfdf3;
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  text-align: center;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 40px;
  max-width: 100%;
  width: 500px;
}

.progress-container::before {
  content: "";
  background-color: var(--line-border-empty);
  position: absolute;
  top: 50%; /*ditance where the line begins from the top*/
  left: 0; /*ditance where the line begins from the left*/
  transform: translateY(-50%);
  height: 5px; /*line heigth*/
  width: 100%; /*line width from 1 (start) to 2.5 (middle)*/
  z-index: -1; /*positions the line behind the numbers*/
}

.progress {
  background-color: var(--line-border-fill);
  position: absolute;
  top: 50%; /*ditance where the line begins from the top*/
  left: 0; /*ditance where the line begins from the left*/
  transform: translateY(-50%);
  height: 5px; /*line heigth*/
  width: 0%; /*line width from 1 (start) to 2.5 (middle)*/
  z-index: -1; /*positions the line behind the numbers*/
  transition: 0.4s ease;
}

.circle {
  background-color: #fbfdfdf3;
  color: #aaa;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--line-border-empty);
  transition: 1.5s ease;
}

.circle.active {
  border-color: var(--line-border-fill);
}

.btn {
  background-color: var(--line-border-fill);
  color: #fff;
  border: none;
  border-radius: 10%;
  cursor: pointer;
  font-family: inherit;
  padding: 10px 20px;
  margin: 5px;
  font-size: 15px;
}
.btn:active {
  transform: scale(0.95);
}
.btn:focus {
  outline: none;
}

.btn:disabled {
  background-color: var(--line-border-empty);
  cursor: not-allowed;
}
